<h1>Add Data to Restful Webservice</h1>

<div>  
  <%= form.label :country %>
  <%= form.text_area :country %>
</div>

<div>  
  <%= form.label :sportsplayed %>
  <%= form.text_area :sportsplayed %>
</div>

 <div class="actions">
    <%= form.submit %>
 </div>

