<p id="notice"><%= notice %></p>

<h1>Kits available for <%= Sport.find(params[:sport_id]).sport %></h1>

<table>
  <thead>
    <tr>
      <th>Sportskit</th>
      <th>Currency</th>
      <th>Price</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sportskits.each do |sportskit| %>
      <tr>
        <td><%= sportskit.kit %></td>
        <td><%= sportskit.currency %></td>
        <td><%= sportskit.price %></td>
        <td><%= link_to 'Show', sportskit %></td>
        <td><%= link_to 'Edit', edit_sportskit_path(sportskit) %></td>
        <td><%= link_to 'Destroy', sportskit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
