<p id="notice"><%= notice %></p>

<p>
  <strong>Sportskit:</strong>
  <%= @sportswise.sportskit %>
</p>

<p>
  <strong>Sports:</strong>
  <%= @sportswise.sports_id %>
</p>

<%= link_to 'Edit', edit_sportswise_path(@sportswise) %> |
<%= link_to 'Back', sportswises_path %>
