<p id="notice"><%= notice %></p>

<h1>Sports Kits</h1>
<h3>Please select your sport</h3>

<div class="wrapper">
  <div style="display: block;"> 
    <div class="box cricket" style="position: relative;" >
    </div>
    <center><%= link_to 'Cricket', sport_sportswises_path('2') %></center>  
  </div>
  <div class="box football">Football</div>
  <div class="box hockey">Hockey</div>
  <div class="box badminton">Badminton</div>
  <div class="box tabletennis">Table Tennis</div>
  <div class="box tennis">Tennis</div>
  <div class="box handball">Hand Ball</div>
  <div class="box volleyball">Volley Ball</div>
  <div class="box swimming">Swimming</div>
  <div class="box hurling">Hurling</div>
  <div class="box baseball">Baseball</div>
  <div class="box rugby">Rugby</div>
</div>

<div>
<br>
<% unless current_user && current_user.admin? %>  
  <% else %>
  <table>
  <thead>
    <tr>
      <th>Sport</th>
       <th>Kit</th>
       <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sportskits.each do |sportskit| %>
      <tr>
        <td><%= Sport.find(sportskit.sport_id).sport %></td>
        <td><%= sportskit.kit %></td>
        <td><%= link_to 'Show', sportskit %></td>
        <td><%= link_to 'Edit', edit_sportskit_path(sportskit) %></td>
        <td><%= link_to 'Destroy', sportskit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Sportskit', new_sportskit_path %>
<% end %>
</div>