<!DOCTYPE html>
<html>
  <head>
    <title>Sportsclientapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% unless current_user %>   
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
    <% else %> 
    <div class="navbar">
      <a href="#home">Home</a>
      <a href="#sports">Sports</a>
      <a href="#sportskit">Sports Kit</a>
      <a href="#contact">Contact</a>
      <a> 
    <%= link_to "Logout", destroy_user_session_path, method: :delete %></a>
    </div>    
    <% end %>
  </body>
</html>
